# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/cache/immutable-npm-4.1.0-f6635927b8-b9bc1f14fb.zip
.yarn/cache/sass-npm-1.53.0-84886439f0-4bcb0617d6.zip
.yarn/install-state.gz
.yarn/cache/array-union-npm-1.0.2-cc61ee268f-82cec6421b.zip
.yarn/cache/array-uniq-npm-1.0.3-e7f5d6f3a1-1625f06b09.zip
.yarn/cache/async-npm-2.6.4-3155e80151-a52083fb32.zip
.yarn/cache/email-addresses-npm-3.1.0-332eec577b-e911985f09.zip
.yarn/cache/filename-reserved-regex-npm-2.0.0-5d8c6e337c-323a0020fd.zip
.yarn/cache/filenamify-npm-4.3.0-e6531169ab-5b71a7ff8e.zip
.yarn/cache/fs-extra-npm-8.1.0-197473387f-bf44f0e6ce.zip
.yarn/cache/gh-pages-npm-4.0.0-1490bfc5d9-255648eb27.zip
.yarn/cache/globby-npm-6.1.0-590bfb2681-18109d6b9d.zip
.yarn/cache/jsonfile-npm-4.0.0-10ce3aea15-6447d6224f.zip
.yarn/cache/pinkie-npm-2.0.4-cffce4fb09-b12b10afea.zip
.yarn/cache/pinkie-promise-npm-2.0.1-095439b8c5-b53a4a2e73.zip
.yarn/cache/strip-outer-npm-1.0.1-4ed024bb0a-f8d65d33ca.zip
.yarn/cache/trim-repeated-npm-1.0.0-1152152315-e25c235305.zip
